/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.Intro {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: #edf2f8;
  position: relative;
}

.Intro img {
  width: auto;
  max-height: 90vh;

}

.me-card {
  background-color: pink;
  width: auto;
  max-height: 100vh;
}

.overlay-content {
  position: absolute;
  top: 50%; /* Position content 50% from the top */
  left: 50%; /* Position content 50% from the left */
  transform: translate(-50%, -50%); /* Center content */
  text-align: center; /* Center text horizontally */
}

.overlay-content h1 {
  color: black; /* Example: white text */
  font-weight: bold;
}

.overlay-content button {
  background-color: #4CAF50; /* Example: green button */
  color: white; /* Example: white text */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.myName{
  color:red;
}
